# words sources
# example ~/words.txt
# default kindle path for Mac Os "/Volumes/Kindle/system/vocabulary/vocab.db"
sources = {
    'text' : '',
    'kindle' : ''
}

# Auth data for Lingualeo
auth = {
    'email' : 'email@email',
    'password' : 'password'
}
